#container {
    display: grid;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    margin: auto;
    width: 400px;
    height: 550px;
    border: 1px solid black;
}

.item{
    background-color: #fff;
    padding: 10px;
    text-align: center;
    margin: auto;
}

.icon{
    margin-top: 50px;
    border: 1px solid black;
    width: 150px;
    height: 140px;
    background-color: lightbrown;
    border-radius: 0 40px 0 40px;
}

h1{
    font-size: 24px;
    margin: 10px 0;
    width: 150px;
    font-weight: 500;
}

p{
    font-size: 20px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 10px 0;
    opacity: 0.5;    
}

img{
    width: 100%;
    height: 100%;
    border-radius: 0 40px 0 40px;
}